body{
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.nav-title{
    font-size: 40px;
    font-family: 'Agdasima', sans-serif;
    font-family: 'Caprasimo', cursive;
}
.text-primary{
    color: orangered;
}
nav> ul{
    display: flex;
    align-items: center;
  
}
nav li{
    list-style: none;;
    margin-right: 50px;
 
}
nav a {
    text-decoration: none;
    color: black;
}
.btn-primary{
    background-color: orangered;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}